{% load static %}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                        <span><a href=""><img alt="image" class="img-circle" style="height:50px; width:auto;" src="{% static 'img/cat.jpg' %}" /></a></span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{% if request.user.get_full_name %}{{ request.user.get_full_name }}{% else %}{{ request.user }}{% endif %}</strong>
                         </span> <span class="text-muted text-xs block">Action <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            {% if request.user.is_superuser %}
                                <li><a href="/admin">Administrator</a></li>
                                <li class="divider"></li>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'login' %}">login</a></li>
                            {% endif %}
                        </ul>
                </div>
                <div class="logo-element">
                    <a href="">SO</a>
                </div>
            </li>
            <li class="active">
                <a href="{% url 'index' %}"><i class="fa fa-th-large"></i><span class="nav-label">Home</span></a>
            </li>
        </ul>
    </div>
</nav>