{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if request.user.is_authenticated and not request.user.is_lock %}<meta http-equiv="refresh" content="{{ request.lock_delay }}" >{% endif %}
    <title>{% block 'title' %}{% endblock %}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block 'extra_style' %}{% endblock %}
</head>
<body class="{% block 'body_class' %}{% endblock %}{% if request.mini_varbar %}mini-varbar{% endif %}">
    {% block 'content' %}
    {% endblock %}

    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>
    {% block 'extra_script' %}{% endblock %}
</html>