{% extends 'base.html' %}

{% block 'body_class' %}gray-bg{% endblock %}

{% block 'extra_style' %}
    {% block 'custom_style' %}{% endblock %}
{% endblock %}

{% block 'content' %}
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-md-6">
                {% block 'left_content' %}{% endblock %}
            </div>
            <div class="col-md-6">
                {% block 'right_content' %}{% endblock %}
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Copyright Specone
            </div>
            <div class="col-md-6 text-right">
               <small>© 2018-Present</small>
            </div>
        </div>
    </div>
{% endblock %}

{% block 'extra_script' %}
    {% block 'custom_script' %}{% endblock %}
{% endblock %}