{% extends 'base.html' %}
{% load static info_tags %}

{% block 'content' %}
    {% block 'left_nav' %}
        {% include 'includes/left_nav.html' %}
    {% endblock %}

    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                {% block 'nav_header' %}
                    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                            <form role="search" class="navbar-form-custom" method="post" action="#">
                                <div class="form-group">
                                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                                </div>
                            </form>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                {% if request.user.is_authenticated %}
                                    <span class="m-r-sm text-muted">Welcome to Specone.</span>
                                {% else %}
                                    {% check_last_visit request as last_visited %}
                                    {% if last_visited %}
                                        <span class="m-r-sm text-muted">Welcome back! You've visited this page last <strong>{{ last_visited }}</strong></span>
                                    {% else %}
                                        <span class="m-r-sm text-muted">Hi!..</span>
                                    {% endif %}
                                {% endif %}
                            </li>
                            <li>
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Log out</a>
                                {% else %}
                                    <a href="{% url 'login' %}"><i class="fa fa-sign-in"></i>Log in</a>
                                {% endif %}
                            </li>
                        </ul>

                    </nav>
                {% endblock %}
            </div>
            {% block 'page_header' %}{% endblock %}
            <div class="wrapper wrapper-content">
                <div class="row animated fadeInRight">
                {% block 'inner_content' %}
                {% endblock %}
                </div>
            </div>
            <div class="footer">
                {% block 'footer' %}
                    <div class="pull-right">
                        10GB of <strong>250GB</strong> Free.
                    </div>
                    <div>
                        <strong>Copyright</strong> Specone &copy; 2018-present
                    </div>
                {% endblock %}
            </div>

        </div>
    </div>
{% endblock %}

{% block 'extra_script' %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    {% block 'custom_script' %}{% endblock %}
{% endblock %}
