{% extends 'base_landscape.html' %}

{% block 'title' %}Specone | Login{% endblock %}

{% block 'left_content'%}
    <h2 class="font-bold">Welcome to Specone</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ratione et quisquam iure minima cumque, odit itaque hic dolorum quasi accusantium impedit, delectus nam molestias provident maxime vitae unde totam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam voluptatum consectetur aut laboriosam autem sit consequatur, sunt tempore minus veniam cupiditate minima doloribus quasi, reprehenderit a quibusdam at earum doloremque.</p>
    <p>Login to start.</p>
{% endblock %}

{% block 'right_content'%}
    <div class="ibox-content">
        <form class="m-t" role="form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username or Email" required="" name="{{ form.username.name }}">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="" name="{{ form.password.name }}">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

            <a href="">
                <small>Forgot password?</small>
            </a>

            <p class="text-muted text-center">
                <small>Do not have an account?</small>
            </p>
            <a class="btn btn-sm btn-white btn-block" href="{% url 'register' %}">Create an account</a>
        </form>
        <p class="m-t">
            <small>Specone web app framework base on Bootstrap 3 &copy; 2014</small>
        </p>
    </div>
{% endblock %}
