{% extends 'index_base.html' %}
{% load static %}

{% block 'title' %}Specone | Movie Details{% endblock %}

{% block 'left_nav' %}
    {% with selected='index' %}{{ block.super }}{% endwith %}
{% endblock %}

{% block 'page_header' %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Movie Details</h2>
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'index' %}">Movies</a></li>
                <li class="active"><strong>{{ item.pk }}</strong></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block 'inner_content' %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ message }}.
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <input type="hidden" name="movie_id" value={{ item.pk }}>
                                    {% if request.user.is_authenticated %}
                                    <a href="{% url 'movie_edit' item.pk %}" class="btn btn-success btn-xs pull-right"><span class="fa fa-edit"></span> Edit</a>
                                    {% endif %}
                                    <h2>{{ item.title }}</h2>
                                    <a class="btn btn-xs {% if item.is_like %}btn-primary{% else %}btn-white{% endif %} btn-like {% if request.user.is_anonymous %}disabled{% endif %}"><i class="fa fa-thumbs-up"></i> Like </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <dl class="dl-horizontal">
                                    <dt>Created by:</dt>
                                    <dd>
                                        {% if item.author.last_name and item.author.first_name %}
                                            {{ item.author.last_name }}, {{ item.author.first_name }}
                                        {% else %}
                                            {{ item.author }}
                                        {% endif %}
                                    </dd>
                                    <dt>Status:</dt>
                                    <dd>
                                        {% if item.is_active %}
                                            <span class="label label-primary">Active</span>
                                        {% else %}
                                            <span class="label label-danger">Removed</span>
                                        {% endif %}
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-lg-7" id="cluster_info">
                                <dl class="dl-horizontal">
                                    <dt>Last Updated:</dt>
                                    <dd>{{ item.updated }}</dd>
                                    <dt>Created:</dt>
                                    <dd>{{ item.created }}</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <dl class="dl-horizontal">
                                    <dt>Description:</dt>
                                    <dd>{{ item.description }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block 'custom_script' %}
    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/actions.js' %}"></script>
    <script type="text/javascript">
    $("div.messages").fadeTo(2000, 500).slideUp(500, function(){
        $("div.messages").slideUp(500);
    });
    </script>
{% endblock %}
