{% extends 'index_base.html' %}
{% load static info_tags %}

{% block 'title' %}Specone | Movie List{% endblock %}

{% block 'left_nav' %}
    {% with selected='index' %}{{ block.super }}{% endwith %}
{% endblock %}

{% block 'page_header' %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Movie List</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="active">
                    <strong>Movies</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            {% if request.user.is_authenticated %}
            <div class="title-action">
                <a href="{% url 'movie_create' %}" class="btn btn-primary"><span class="fa fa-plus"></span> Add New Movie</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block 'inner_content' %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Movie List</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class='col-sm-1'>#</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th class='col-sm-2 text-center'>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if items %}
                            {% for item in items %}
                            <tr class="movie-{{ item.pk }}">
                                <input type="hidden" name="movie_id" value={{ item.pk }}>
                                <td>{{ forloop.counter|add:counter_modifier }} <a href="" class="btn {% if item.is_like %}btn-primary{% else %}btn-white{% endif %} btn-xs btn-like pull-right {% if request.user.is_anonymous %}disabled{% endif %}"><span class="fa fa-thumbs-up"></span> Like</a></td>
                                <td><a href="{% url 'movie_detail' item.pk %}">{{ item.title }}</a></td>
                                <td>{{ item.description }}</td>
                                <td class="text-navy text-center">
                                    <a href="{% url 'movie_edit' item.pk %}" class="btn btn-success btn-xs {% if request.user.is_anonymous %}disabled{% endif %}"><span class="fa fa-edit"></span> Edit</a>
                                    <a href="" class="btn btn-danger btn-xs btn-remove {% if request.user.is_anonymous %}disabled{% endif %}"><span class="fa fa-trash"></span> Remove</a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">No data found</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    {% if items %}
                        {% paginator items 6 get_params %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block 'custom_script' %}
    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/actions.js' %}"></script>
{% endblock %}
