{% extends 'index_base.html' %}
{% load static %}

{% block 'title' %}Specone | Movie Create{% endblock %}

{% block 'left_nav' %}
    {% with selected='index' %}{{ block.super }}{% endwith %}
{% endblock %}

{% block 'page_header' %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Movie Create</h2>
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'index' %}">Movies</a></li>
                <li class="active"><strong>Create</strong></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block 'inner_content' %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create Movie <small>Input details below.</small></h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" role="form" method="post" action="{% url 'movie_create' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.title.error }}
                            <label class="col-sm-2 control-label">Movie Title</label>
                            <div class="col-sm-10">
                                {{ form.title }}
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            {{ form.description.error }}
                            <label class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                {{ form.description }}
                                <span class="help-block m-b-none"><small>{{ form.description.help_text }}</small></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Is Active</label>
                            <div class="col-sm-10">
                                {{ form.is_active }}
                                <span class="help-block m-b-none"><small>{{ form.is_active.help_text }}</small></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Is Liked</label>
                            <div class="col-sm-10">
                                {{ form.is_like }}
                                <span class="help-block m-b-none"><small>{{ form.is_like.help_text }}</small></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a href="{% url 'index' %}" class="btn btn-white btn-cancel">Cancel</a>
                                <button class="btn btn-primary" type="submit"><span class="fa fa-save"></span> Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block 'custom_script' %}
    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
{% endblock %}
