<div class="paging_simple_numbers">
    <ul class="pagination">
        {% if has_previous %}
            <li class="paginate_button previous">
                <a href="?{% if extra_params %}{{ extra_params }}&{% endif %}{{ custom_params }}={{ previous }}">Previous</a>
            </li>
        {% endif %}

       {% if show_first %}
             <li class="paginate_button {{ custom_params }}_link">
                <a href="?{% if extra_params %}{{ extra_params }}&{% endif %}{{ custom_params }}={{ first_page }}">{{ first_page }}</a>
            </li>
            <li class="paginate_button {{ custom_params }}_link">
                <a href="?{% if extra_params %}{{ extra_params }}&{% endif %}{{ custom_params }}={{ start_middle_page }}">...</a>
            </li>
       {% endif %}

       {% for linkpage in page_numbers %}
          {% ifequal linkpage current_page %}
             <li class="paginate_button active">
                <a href="#">{{ linkpage }}</a>
            </li>
          {% else %}
             <li class="paginate_button {{ custom_params }}_link">
                <a href="?{% if extra_params %}{{ extra_params }}&{% endif %}{{ custom_params }}={{ linkpage }}">{{ linkpage }}</a>
            </li>
          {% endifequal %}
       {% endfor %}

       {% if show_last %}
            <li class="paginate_button {{ custom_params }}_link">
                <a href="?{% if extra_params %}{{ extra_params }}&{% endif %}{{ custom_params }}={{ end_middle_page }}">...</a>
            </li>
             <li class="paginate_button {{ custom_params }}_link">
                <a href="?{% if extra_params %}{{ extra_params }}&{% endif %}{{ custom_params }}={{ last_page }}">{{ last_page }}</a>
            </li>
       {% endif %}

        {% if has_next %}
            <li class="paginate_button next">
                <a href="?{% if extra_params %}{{ extra_params }}&{% endif %}{{ custom_params }}={{ next }}">Next</a>
            </li>
        {% endif %}
    </ul>
</div>
