{% extends 'base_landscape.html' %}
{% load static %}

{% block 'title' %}Specone | Register{% endblock %}

{% block 'custom_style' %}
    <link href="{% static 'css/password.css' %}" rel="stylesheet">
    <style type="text/css">
        label {
            display: block;
        }
        input {
            width: 300px;
        }
        .container {
            margin-top: 30px;
        }
        @media (min-width: 600px) {
            #main {
                width: 60%;
            }
        }
        .emojione {
            width: 20px;
            height: 20px;
        }

        /* better progress bar styles for the bootstrap demo */
        .pass-strength-visible input.form-control,
        input.form-control:focus {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .pass-strength-visible .pass-graybar,
        .pass-strength-visible .pass-colorbar,
        .form-control:focus + .pass-wrapper .pass-graybar,
        .form-control:focus + .pass-wrapper .pass-colorbar {
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    </style>
{% endblock %}

{% block 'left_content'%}
    <h2 class="font-bold">Register to Specone</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse non labore assumenda amet sed. Aliquam magni, distinctio voluptas. Eveniet nostrum, iure alias eius quasi cum reprehenderit minus vel esse architecto.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt possimus doloremque fuga aspernatur amet, ratione numquam dignissimos explicabo dolor sit reiciendis ducimus accusantium quisquam nihil delectus consequuntur itaque. Itaque, aliquid!</p>
    <p>Create account to start.</p>
{% endblock %}

{% block 'right_content'%}
    <div class="ibox-content">
        <form class="m-t" role="form" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.error }}
                <input type="text" id="username" class="form-control" placeholder="Username" required="" name="{{ form.username.name }}">
            </div>
            <div class="form-group">
                {{ form.email.error }}
                <input type="email" id="email" class="form-control" placeholder="Email" required="" name="{{ form.email.name }}">
            </div>
            <div class="form-group">
                {{ form.password.error }}
                <input type="password" id="password" class="form-control" placeholder="Password" required="" name="{{ form.password.name }}">
            </div>
            <div class="form-group">
                {{ form.repassword.error }}
                <input type="password" id="repassword" class="form-control" placeholder="Verify Password" required="" name="{{ form.repassword.name }}">
            </div>
            <button type="submit" id="submit" class="btn btn-primary block full-width m-b">Register</button>

            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="{% url 'login' %}">Login</a>
        </form>
        <p class="m-t">
            <small>Specone web app framework base on Bootstrap 3 &copy; 2014</small>
        </p>
    </div>
{% endblock %}

{% block 'custom_script' %}
    <script src="{% static 'js/lib/emojione.min.js' %}"></script>
    <script src="{% static 'js/password.js' %}"></script>
    <script>
        $(document).ready(function(){
            // disable submit and repassword
            $('#submit,#repassword').attr('disabled', true);

            // Change password
            $('#password').password({
                username: '#username',
                animate: true,
                minimumLength: 8,
                enterPass: emojione.unicodeToImage('Type your password 🔜'),
                shortPass: emojione.unicodeToImage('You can do it better, dude! 🤕'),
                badPass: emojione.unicodeToImage('Still needs improvement! 😷'),
                goodPass: emojione.unicodeToImage('Yeah! That\'s better! 👍'),
                strongPass: emojione.unicodeToImage('Yup, you made it 🙃'),
            }).on('password.score', function (e, score) {
                if (score > 35) {
                    $('#repassword').removeAttr('disabled');
                } else {
                    $('#repassword').attr('disabled', true);
                    $('#repassword').val('');
                }
            });

            $('#username,#email,#repassword').keyup(function(){
                if ($('#password').val() == $('#repassword').val() && validateForm()) {
                    $('#submit').attr('disabled', false);
                } else {
                    $('#submit').attr('disabled', true);
                }
            });

            function validateForm() {
                var isValid = true;
                var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
                $('input').each(function() {
                    if($(this).val() === ''){
                        isValid = false
                    }
                    else if($(this).attr('type') == 'email' && !testEmail.test($(this).val())){
                        isValid = false
                    }
                });
                return isValid;
            }
        });
    </script>
{% endblock %}{# 

If you don't receive the email with your new password:

Look in the junk mail folder if the email is there.
Check with your email provider if the email is on the server.
If you get the message "That e-mail address doesn't have an associated user account. Are you sure you've registered?" or "Enter a valid e-mail address."

Make sure you're using the correct email address, the address that the welcome email was sent to.
Make sure you have no spaces in the email address.
Important! The password reset link that you receive by email is only valid once.

If you have completed the troubleshooting steps above but still haven't received the email in 24 hours, please contact us.